@import "ratchet/ratchet";
//@import "ratchet/ratchet-theme-ios";
//@import "ratchet/ratchet-theme-android";


body {
    -webkit-font-smoothing: antialiased;
    color: #555555;
    font-family: sans-serif;
}