@import "plugins/sidebars";
@import "ratchet/ratchet";
//@import "ratchet/ratchet-theme-ios";
//@import "ratchet/ratchet-theme-android";
@import "plugins/pageslider";


body {
    -webkit-font-smoothing: antialiased;
    color: #555555;
    font-family: sans-serif;
}

.mp-pusher.mp-pushed::after {
	z-index: 15;
}

.mp-menu ul li::before {
	left: 5px;
	line-height: 2;
}

.mp-back::after {
	content: none;
	font-family: inherit;
}

.table-view {
	background: transparent;
	border: none;

	a {
		color: #fff;
	}
}

.scroller-inner {
	height: 100%;
}

section, .sliderContent, .page {
	height: 100%;
	width: 100%;
}

.page {
	padding: 10px;
}

.bar-tab .tab-item {
	width:10%;

	&.next {
		width: 37.5%;
		padding-left: 15px;
		padding-right: 15px;
		text-align: right;
	}

	&::first-child {

	}
}

header.bar {
	//background-color: #019377;

	* {
		//color: #fff;
	}

	h1.title {
		text-align: left;
		padding-left: 50px;
		z-index: 5;
		width: auto;
	}
	.breadcrumbs {
		display: inline;
		position: relative;
		top: 5px;
		z-index: 4;
		padding-left: 95px;
		height: 100%;
		line-height: 16px;

		.icon-left, .icon-left-nav {
			font-size: 10px;
			line-height: 16px;
			vertical-align: middle;
		}

		h5 {
			line-height: 16px;
			display: inline;
			text-transform: uppercase;
			font-weight: 400;
		}
	}
}