@import "plugins/sidebars";
@import "ratchet/ratchet";
//@import "ratchet/ratchet-theme-ios";
//@import "ratchet/ratchet-theme-android";
@import "plugins/pageslider";


body {
    -webkit-font-smoothing: antialiased;
    color: #555555;
    font-family: sans-serif;
}

.mp-pusher.mp-pushed::after, .mp-level.mp-level-overlay::after {
	z-index: 15;
}

.scroller-inner {
	height: 100%;
}

section, .sliderContent, .page {
	height: 100%;
	width: 100%;
}

.page {
	padding: 10px;
}