<h2 class="icon icon-display"><a href="#{{pageSlug}}">{{title}}</a></h2>
<a class="mp-back" href="#">back <span class="icon icon-right-nav pull-right"></span></a>
<ul class="table-view">
    <!-- Inner Parent or Child goes here -->
</ul>