<a class="tab-item active" href="#">Home</a>
<a class="tab-item" href="#lorem">Lorem</a>
<a class="tab-item" href="#dolor">Dolor</a>
<a class="tab-item" href="#sit">Sit</a>
<a class="tab-item" href="#amet">Amet</a>

<a class="tab-item next" {{#if nextSlide}}href="#{{nextSlide.slug}}">{{nextSlide.title}} <span class="icon icon-right-nav"></span>{{else}}>{{/if}}</a>