<a class="tab-item active" href="#">Label</a>
<a class="tab-item" href="#lorem">Lorem</a>
<a class="tab-item" href="#dolor">Dolor</a>
<a class="tab-item" href="#sit">Sit</a>
<a class="tab-item" href="#amet">Amet</a>

<a class="tab-item" >&nbsp;</a>

<a class="tab-item"><button class="btn btn-block">Test2</button></a>