<button type="button" class="btn btn-link btn-nav pull-left" id="nav-trigger">
	<span class="icon icon-bars"></span>
</button>
<a href="#"><h1 class="title">{{#if titleImage}}<!--title image will go here-->{{else}}{{companyName}}{{/if}}</h1></a>
<div class="breadcrumbs">
	<span class="icon icon-left"></span>
	<a href="#lorem"><h5>Lorem</h5></a>
	<span class="icon icon-left"></span>
	<a href="#lorem/dolor"><h5>Dolor</h5></a>
</div>