<div class="container">
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">
 
        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu">
            <!-- side nav content goes here -->
        </nav>
        <!-- /mp-menu -->
 
        <div class="scroller"><!-- this is for emulating position fixed of the nav -->
            <div class="scroller-inner">
                <!-- site content goes here -->

                <header id="header" class="bar bar-nav">
                </header><!-- /header -->

                <section id="content" class="content">
                </section><!-- /content -->

                <footer id="footer" class="bar bar-tab">
                </footer><!-- /footer -->
                
                </div>
            </div><!-- /scroller-inner -->
        </div><!-- /scroller -->
 
    </div><!-- /pusher -->
</div><!-- /container -->